doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='shortcut icon', href='/images/gt_favicon.png')
    link(rel='stylesheet', media='screen', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    // Custom styles for our template
    link(rel='stylesheet', href='/stylesheets/theme/bootstrap-theme.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/main.css')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='/javascripts/html5shiv.js')
    script(src='/javascripts/respond.min.js')
    script(src='/javascripts/vue/vue.js')
  body
    block content
  script(src='/javascripts/jquery-1.12.4.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/headroom.min.js')
  script(src='/javascripts/jQuery.headroom.min.js')
  script(src='/javascripts/template.js')